#head_img {
    margin-left: 40px;
    width: 40%;
    border-radius: 50px;
}

#collage {
    width: 75%;
    border-radius: 50px;
}

textarea {
    width: 300px;
}

#camera {
    width: 360px;
    height: 250px;
}
#collage {
    width: 30%;
    border-radius: 4px;
}

#collage:hover {
    border-radius: 140px;
}